~$*
Backup*
Assemblies Library/Drivebase/2020IR.drivebase.originaldownload.osears.SLDASM
Assemblies Library/Drivebase/Copy of 2020IR.subassembly_drivebase_gearbox_wheels_mounted.originaldownload.osears.sldasm
Assemblies Library/Other/3_CIM_Ball_Shifter_Base_Kit_with_WCD_3rd_Stage_217-3269_With_NEO.drp.SLDASM
Parts Library/1_x_2_x_0_100_Pre-Drilled_VersaFrame_Aluminum_Tube_(27)_217-3453.drp.SLDPRT
Parts Library/1_x_2_x_0_100_Pre-Drilled_VersaFrame_Aluminum_Tube_(30)_217-3453.drp.SLDPRT
Parts Library/217-8000-001-002_mod_to_1_x_2_x_0_100_Pre-Drilled_VersaFrame_Aluminum_Tube_(27)_217-3453.drp.SLDPRT
Parts Library/Neo_Brushless_DC_Motor_REV-21-1650.drp.SLDPRT
Parts Library/VersaBlock_Kit_217-3432.drp.SLDPRT
